body {
  background:black;
  font-family: Helvetica;
}

#mainlinks {
  text-align: center;
  font-size: 64px;
  padding-top: 50px;
  color: white;
  margin-left: 100px;
}

#mainlinks:hover {
  color:#9b9b9b;
}
